<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="towntalk.mapper.LogErrorDao">
    <insert id="addLog" parameterType="logError">
        insert into log_error
          (id, user_no, message, reg_date)
        VALUES
          (#{id}, #{user_no}, #{message}, now())
    </insert>
</mapper>